backend/youtube-demo/.env
backend/bookshop/.env
backend/node_modules
backend/node_modules/*
frontend/prg_c_basic/packages-microsoft-prod.deb
frontend/ledger_class/prms-js/node_modules
frontend/ReactExamples/my-app/node_modules
frontend/ReactExamples/my-app/node_modules/*
frontend/ReactExamples/my-app/.env
frontend/ReactExamples/my-app/.env.local
frontend/ReactExamples/my-app/.env.development.local
frontend/ReactExamples/my-app/.env.test.local
frontend/ReactExamples/my-app/.env.production.local
frontend/ReactExamples/todolist/node_modules
frontend/ReactExamples/todolist/node_modules/*
frontend/ReactExamples/todolist/.env
frontend/ReactExamples/todolist/.env.local
frontend/react-task-app/node_modules
frontend/react-task-app/node_modules/*
frontend/react-task-app/.env
frontend/react-task-app/.env.local
frontend/react-task-app/.env.development.local
frontend/react-task-app/.env.test.local
frontend/react-task-app/.env.production.local


.vscode
