backend/youtube-demo/.env
backend/bookshop/.env
backend/node_modules
backend/node_modules/*
frontend/prg_vanilla_basic/node_modules
frontend/prg_vanilla_basic/node_modules/*
frontend/prg_react_typescript/node_modules
frontend/prg_react_typescript/node_modules/*
frontend/prms-js/node_modules
frontend/prms-js/node_modules/*
.vscode
